<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to use UST APA</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div>Jump to:
        <a href="{{ url_for('index') }}">Index</a>
        <a href="{{ url_for('menu') }}">Menu</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ur>
                {% for message in  messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ur>
        {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}
</body>
</html>